/* * Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable * when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* * Hide visually and from screenreaders, but maintain layout */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.noflick,
#board,
.note,
.button {
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #000000;
}

body {

    line-height: 1;
    background-color: white;
    background: linear-gradient(135deg, white 0%, #ebebeb 47%, #dedede 100%);
}

::-moz-selection {
    background: #B3D4FC;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

a:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

:placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.7);
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#board {
    padding: 30px 30px 30px;
    margin-top: 40px;
    overflow-y: visible;
}

.note {
    float: left;
    display: block;
    position: relative;
    padding: 1em;
    width: 300px;
    min-height: 300px;
    margin: 0 30px 30px 0;
    background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
    background-color: #FFFD75;
    box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform: skew(-1deg, 1deg);
    transform: skew(-1deg, 1deg);
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    z-index: 1;
}

.note:hover {
    cursor: move;
}

.note.ui-draggable-dragging:nth-child(n) {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.125) !important;
    transform: scale(1.125) !important;
    z-index: 100;
    cursor: move;
    transition: -webkit-transform .150s;
    transition: transform .150s;
    transition: transform .150s, -webkit-transform .150s;
}

.note textarea {
    background-color: transparent;
    border: none;
    resize: vertical;
    font-family: "Gloria Hallelujah", cursive;
    width: 100%;
    padding: 5px;
}

.note textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset;
}

.note textarea.title {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    height: 64px;
    margin-top: 20px;
}

.note textarea.cnt {
    min-height: 200px;
}


.random {
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    height: auto;
    width: inherit
}


.note:nth-child(2n) {
    background: #FFFD75;
}

.note:nth-child(3n) {
    background: #69F098;
}

/* Button style  */

.button {
    font: bold 12px Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    padding: 1em 2em;
    background: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
    background-color: #00CC00;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 2px -1px rgba(0, 0, 0, 0.5), inset 0 1px 2px 1px rgba(255, 255, 255, 0.3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    transition: background .01s, -webkit-transform .150s;
    transition: transform .150s, background .01s;
    transition: transform .150s, background .01s, -webkit-transform .150s;
}

.button:hover {
    background-color: #00EE00;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 2px -1px rgba(0, 0, 0, 0.5), inset 0 1px 2px 1px rgba(255, 255, 255, 0.3);
}

.button:active {
    background: linear-gradient(bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
    background-color: #00CC00;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.3);
    outline: none;
}

.button.remove {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E01C12;
    text-align: center;
    line-height: 16px;
    padding: 10px;
    border-color: #B30000;
    font-style: 1.6em;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}

.button.remove:hover {
    background-color: #EF0005;
}

#add_new {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.author {
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn_space {
    margin: 10px;
}

.btn {
    margin-top: 10px;

}

/* New for Table popup*/

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 1px;
    background-color: black;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 4px 4px;
    background-color: grey;
    color: white;
}

/*table*/

/*table, th, td {
    //border: 1px solid black;
   // border-collapse: collapse;
}
th, td {
    padding: 15px;
}*/

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    text-align: center;
    /* Centered text */
    background-color: forestgreen;
    color: aliceblue;
    border-radius: 3px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
}

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */

-webkit-animation: fadein 0.5s,
fadeout 0.5s 2.5s;
animation: fadein 0.5s,
fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.editor {
    width: inherit;
    height: 400px;
    background-color: white;
    border: none;
    border-bottom: 0px;
    border-radius: 5px;
}

.ql-toolbar.ql-snow {
    border: 0px solid #ccc;
    box-sizing: border-box;
    border: none;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}


.timeline {
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-top: 10px;
}

.timeline-span {
    background: #fafafa;
    padding: 0 10px;
}

.note_canvas {
    padding: 10px;
    margin: 10px;
}

.timeline:nth-child(n+2) {
    padding-top: 50px;
}

.close {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    line-height: 0.1em;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    margin: 10px 0 20px;
    padding-top: 10px;
    filter: alpha(opacity=20);
    text-decoration: none;
}

/*.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}*/

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
#note_title{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border:none;
}
